@charset "UTF-8";

@import 'variables';
@import 'helpers/mixins';
@import 'helpers/grid';
@import 'helpers/mixins';

.block-holder {
	@include margin(70/20);

	.ui-slider .ui-slider-handle {
			border: 1px solid black;
			background-color: #fff;
			cursor: pointer;
		}

	.ui-slider {
		z-index: 2;
		border: 1px solid black;
	}

	.ui-slider-handle .handle-val {
		color: black;
	  position: absolute;
	  bottom: 100%;
	  width: 70px;
	  left: 50%;
	  margin-left: -35px;
	  text-align: center;
	  font-size: 12px;
	  font-weight: 400;
	}

	&__scale {
		position: relative;
		margin-top: 20px;
		margin-bottom: 40px;
		max-width: 500px;
		margin-left: 100px;
	}

	&__scale-input {
		position: absolute;
		right: 100%;
		top: 50%;
		margin-top: -15px;
		margin-right: 25px;

		&[type="text"] {
			width: 75px;
		}
	}

	&__caption {
		margin-bottom: 15px;
		font-size: 18px;
	}
}
