mixin head(title)
	// Meta
	meta(charset='utf-8')
	meta#viewport(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='imagetoolbar', content='no')
	meta(name='msthemecompatible', content='no')
	meta(name='cleartype', content='on')
	meta(name='HandheldFriendly', content='True')
	meta(name='format-detection', content='telephone=no')
	meta(name='format-detection', content='address=no')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
	title #{title}
	// Styles
	// Vendor styles
	link(href='./js/vendor/fancybox/jquery.fancybox.css', rel='stylesheet')
	link(href='./js/vendor/jquery-ui/jquery-ui.css', rel='stylesheet')
	link(href='./js/vendor/jquery.bxslider/jquery.bxslider.css', rel='stylesheet')
	link(href='./js/vendor/jquery.mobilezoom/jquery.mobilezoom.css', rel='stylesheet')
	link(href='./js/vendor/select2/select2.css', rel='stylesheet')
	link(href='./js/vendor/slick/slick.css', rel='stylesheet')
	link(href='./js/vendor/video.js/video-js.css', rel='stylesheet')
	link(href='./js/vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
	// Global styles
	link(href='./css/optimize.css', rel='stylesheet')
	link(href='./css/fonts.css?1491572924231', rel='stylesheet')
	link(href='./css/fontawesome.css?1491572924231', rel='stylesheet')
	link(href='./css/global.css?1491572924231', rel='stylesheet')
	link(href='./css/adaptive.css?1491572924231', rel='stylesheet')
	link(rel='stylesheet', href='css/tech.css')
	link(rel='stylesheet', href='css/tech.css')
	link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet')
	link(href='https://fonts.googleapis.com/css?family=Lora:400,700', rel='stylesheet')
	// Scripts
	// Vendor scripts
	script(src='./js/vendor/fontsmoothie/fontsmoothie.js')
	script(src='./js/vendor/jquery/jquery.min.js')
	script(src='./js/vendor/mustache/mustache.min.js')
	script(src='./js/vendor/retina/retina.js')
	script(src='./js/vendor/simpleStorage/simpleStorage.js')
	script(src='./js/vendor/fancybox/jquery.fancybox.pack.js')
	script(src='./js/vendor/freewall/freewall.js')
	script(src='./js/vendor/jquery-ui/jquery-ui.js')
	script(src='./js/vendor/jquery.adaptBlock/jquery.adaptBlock.js')
	script(src='./js/vendor/jquery.bxslider/jquery.bxslider.min.js')
	script(src='./js/vendor/jquery.form/jquery.form.min.js')
	script(src='./js/vendor/jquery.icheck/icheck.min.js')
	script(src='./js/vendor/jquery.livequery/jquery.livequery.js')
	script(src='./js/vendor/jquery.maskedinput/jquery.maskedinput.js')
	script(src='./js/vendor/jquery.mobilezoom/jquery.mobilezoom.js')
	script(src='./js/vendor/jquery.mousewheel/jquery.mousewheel.pack.js')
	script(src='./js/vendor/jquery.placeholder/jquery.placeholder.js')
	script(src='./js/vendor/jquery.ui.touch-punch/jquery.ui.touch-punch.min.js')
	script(src='./js/vendor/jquery.validate/jquery.validate.min.js')
	script(src='./js/vendor/modernizr/modernizr.custom.69422.js')
	script(src='./js/vendor/magnific-popup/jquery.magnific-popup.js')
	script(src='./js/vendor/select2/select2.min.js')
	script(src='./js/vendor/slick/slick.js')
	script(src='./js/vendor/uri/uri.min.js')
	script(src='./js/vendor/video.js/video.js')
	script(src='./js/vendor/accounting/accounting.min.js')
	script(src='./js/vendor/factory/factory.forms.js')
	script(src='./js/vendor/factory/factory.global.js')
	script(src='./js/vendor/nicescroll/jquery.nicescroll.min.js')
	// Global scripts
	script(src='./js/blocks.js?1491572924231')
	script(src='./js/blocks.dummy.js?1491572924231')
	script(src='./js/global.js?1491572924231')
	script(src='./js/script.js?1491572924231')
	script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
	script(src='src="https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
	script(src='js/tech.js?1491572924231', type='text/javascript')
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
	// html5shiv, respond.js
	//
	//if lte IE 8 // script(type='text/javascript', src='./js/vendor/html5shiv/html5shiv.min.js') script(type='text/javascript', src='./js/vendor/respond/respond.min.js')
